<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Happiness</h1>
    <h2> Click for quick change </h2>

  </div>

  <p id="demo">
    Quiero Tacos
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    DOG
  </button>

  <div id="doge-image"/>

<button class="btn btn-default" type="button" onclick="myFunction()">
    BEACH
  </button>

  <div id="doge-image"/>

<button class="btn btn-default" type="button" onclick="myFunction1()">
    OTHER
  </button>

  <div id="beach"/>

</body>

</html>